[alias]
	st = status -s
	ci = commit
	br = branch
	co = checkout
	df = difftool
	rso = remote show origin
	lg = log --graph --pretty=oneline --abbrev-commit
	longlog = log

[user]
	name = Raoul Millais
	email = raoul@raoulmillais.com

[color]
	branch = auto
	diff = auto
	status = auto
	ui = always

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[diff]
	tool = vimdiff
[difftool]
	prompt = false
[core]
	editor = vim
[help]
	autocorrect = 1
